## Back
./punto_back/node_modules
./punto_back/logs
./punto_back/.env
./punto_back/.idea

## Front
# dependencies
./punto_front/node_modules
./punto_front/.pnp
./punto_front/.pnp.js

# testing
./punto_front/coverage

# production
./punto_front/build

# misc
./punto_front/.DS_Store
./punto_front/.env.local
./punto_front/.env.development.local
./punto_front/.env.test.local
./punto_front/.env.production.local

./punto_front/npm-debug.log*
./punto_front/yarn-debug.log*
./punto_front/yarn-error.log*

