<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Punto API</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<h1><span class="punto__red">P</span>
    <span class="punto__blue">u</span>
    <span class="punto__yellow">n</span>
    <span class="punto__green">t</span>
    <span class="punto__red">o</span>
</h1>
</body>
</html>