@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
    color: red;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.punto__red{
    color: red
}

.punto__blue{
    color: blue
}

.punto__yellow{
    color: yellow
}

.punto__green{
    color: green
}