@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* || VARIABLES */

:root {
    /* COLORS */
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: rgba(172, 170, 170, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: 'Fira Code', monospace;
    color: white;
    background: black;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

input,
button,
textarea,
select {
    font: inherit;
}

.form__input--incomplete {
    border: 1px solid darkred;
    outline: 1px solid darkred;
}